*,*:before,*:after{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

ul li{
list-style:none;
}

%stylfont{
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.3px;
  color: #fff;
}
%styl{
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.3px;
  color: #000;
}
body.lock{
	overflow: hidden;
}

.wrapper{
	min-width: 1349px;
}

.screen{
	width: 100%;
	height: 100vh;
	min-height: 700px;
	background: url('../images/pic/main.jpg') no-repeat;
	background-size:cover;
	a{
		text-decoration: none;
	}
	.screen-inner{
		width: 1249px;
		margin: 0 auto;
		padding-top: 30px;
		position: relative;
		.screen-content{
			position: absolute;
			top: 470px;
			left:0;
			h1{
				font-size: 36px;
				@extend %stylfont;
				text-transform: uppercase;
				span{
					color:#a2ca28;

				}
			}
			h6{
				font-size: 15px;
				@extend %stylfont;
				padding-left: 200px;
				text-transform: uppercase;
				span{
					color: #fd634e;
				}
			}

		}
	}
}

.header{
	display: flex;
	justify-content: space-between;
	.menu{
		width: 40%;
		padding-top: 15px;
		.menu-list{
			display: flex;
			justify-content: space-between;
			.menu__items{
				a{
					@extend %stylfont;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
				}
			}
		}
	}
}
.header.scrolHeader{
	position: fixed;
	width:100%;
	height:65px;
	top: 0;
	left: 0;
	padding: 0 60px;
	z-index: 3;
	background-color: #000;
	.menu{
		padding-top: 25px;
	}
	.logo{
		padding-top: 8px;
		img{
		width: 140px;
		height: 50px;
		}
	}
}
.back-menu{
	width: 1349px;
	height:1800px;
	position:relative;
	z-index: 4;
	background-color: #0d1119;
	top: -35px;
	left: -50px;
	display: none;
	
	
}
@media(max-width: 830px){
	.menu{
		display: none;
	}
	
	.burger{
		position: relative;
		top: -40px;
	   left: 1200px;
		width: 45px;
		height: 40px;
		& span:nth-child(1){
			display: block;
			width: 40px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			transition: .3s ease-out;
		}
		& span:nth-child(2){
			display: block;
			width: 40px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			top: 11px;
			left: 0;
			transition: .3s ease-out;
		}
		& span:nth-child(3){
			display: block;
			width: 40px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			top: 22px;
			left: 0;
			transition: .3s ease-out;
		}
	}
	.burger.active{
		position: fixed;
		z-index: 6;
		top: 50px;
		left: 1250px;

		& span:nth-child(1){
			transform: rotate(45deg);
			top: 0;
			left: 0;
			width: 50px;
		}
		& span:nth-child(2){
			display: none;
		}
		& span:nth-child(3){
			transform: rotate(-45deg);
			top: 0;
			width: 50px;

		}	
	}
	.back-menu.active{
			display:block;
			
		}
	.menu.active{
		display: block;
		position: fixed;
		width: 102%;
		top: 100px;
		left:0;
		z-index: 7;
		.menu-list{
			flex-direction: column;
			.menu__items{
				font-size: 40px;
				text-align: center;
				margin-top: 180px;
			}
		}
	}
	.logo.active{
		position: fixed;
		z-index: 7;
		top: 0;
		left: 41.5%;
		padding-top: 50px;
		img{
			width: 240px;
			height: 90px;
		}
	}
	.header{
	.menu{
		.menu-list{
			.menu__items.active{
				a{
				font-size: 45px;
				font-weight: 700;
				}
			}
		}
	}
}
}
@media(max-width: 530px){
	.screen-content{
			h1{
				font-size: 45px;
			}
			h6{
				font-size: 25px;
			}

		}
}

.green{
	background-color: #a2ca28;
	height:1090px;
	.wrap-inner{
		width: 1100px;
		margin: 0 auto;
		.specifity-content{
			display: flex;
			justify-content: space-between;
		}
	}
}
.card{
	perspective: 2000px;
	transform-style: preverse-3d;
}
.specifity__items{
	width: 270px;
	margin-top: 50px;
	padding: 10px;
	padding: 20px;
	transition: .5s ease-out;

	a{
	text-decoration: none;

	}
	h2{
		@extend %stylfont;
		font-size: 22px;
	}
	p{
		@extend %stylfont;
		font-size: 14px;
		padding-top: 15px;
	}
	
}
.specifity__items:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.link{
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 25px;
		left: 110px;
		width: 20px;
		height: 2px;
		background-color: #fff;

	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 22px;
		left: 126px;
		width:0;
		height:0;
		border-left: 8px solid #fff;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;

	}
}
.link2{
	&:before{
		top: 25px;
		left: 130px;
	}
	&:after{
		top: 22px;
		left: 146px;
	}
}
.link4{
	&:before{
		top: 25px;
		left: 86px;
	}
	&:after{
		top: 22px;
		left: 102px;
	}
}

.about{
	margin-top: 80px;
	height: 680px;
	background-color: #fff;
	.about__items{
		margin-top: -4px;
		display: flex;
		.text{
			width: 45%;
			height: 320px;
			padding: 40px;
			h4{
				@extend %styl;
				color: #fd634e;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
			}
			h2{
				@extend %styl;
				color: #a2ca28;
				font-size: 30px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 100;
			}
			img{
				display: block;
				margin: 8px 0 8px 150px;
			}
			p{
				color:#656e74;
				@extend %styl;
				letter-spacing: 0.2px;
				font-size: 14px;
				text-align: center;
				font-weight: 100;
			}
			a{
				@extend %styl;
				color: #a2ca28;
				font-size: 14px;
				padding-left: 135px;
			
			}

		}
		.about-image{
			position: relative;
			img{
				width: 670px;
				height: 330px;
			}
			.active_user{
				position: absolute;
				top: 295px;
				right: 20px;
				@extend %stylfont;
				font-size: 12px;
				color: #fd634e;
				span{
					color: #fff;
				}
			}
			.product{
				position: absolute;
				top: 295px;
				left: 20px;
				@extend %stylfont;
				font-size: 12px;
				span{
					color: #fff;
				}
			}
		}
	}

}
@media(max-width: 830px){
.green{
	height:3310px;
	.wrap-inner{
		width: 1280px;
		.specifity-content{
			flex-direction:column;
			height: 1290px;
		}
	}
}
.specifity__items{
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;

	h2{

		font-size: 32px;
		text-align: center;
	}
	p{
		font-size: 26px;
		text-align: center;
	}
	img{
		width: 80px;
		height: 70px;
		display: block;
		margin-left: 575px;
	}
	
}

.link{
	&:before{
		top: 33px;
		left: 720px;
		width: 30px;
		height: 3px;


	}
	&:after{
		top: 28px;
		left: 750px;
		border-left: 12px solid #fff;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;

	}
}
.link2{
	&:before{
		top: 33px;
		left: 740px;
		height: 3px;
	}
	&:after{
		top: 29px;
		left: 770px;
	}
}
.link4{
	&:before{
		top: 33px;
		left: 700px;
	}
	&:after{
		top: 29px;
		left: 730px;
	}
}

.about{
	height: 1947px;
	.about__items{
		flex-direction:column;
		.text{
			width: 100%;
			height: 380px;
			h4{
				font-size: 24px;
			}
			h2{
				font-size: 32px;
			}
			img{
				widows: 50px;
				height: 80px;
				margin: 8px 0 8px 560px;
			}
			p{
				font-size: 26px;
			}
			a{
				font-size: 26px;
				padding-left: 535px;
			
			}

		}
		.about-image{
			img{
				width:100%;
				height: 600px;
				display: block;
				margin: 0 auto;
			}
			.active_user{
				top: 535px;
				right: 100px;
				font-size: 24px;
			}
			.product{
				top: 535px;
				left: 100px;
				font-size: 24px;
			}
		}
	}
}
}

.wrap-inner{
	width: 1100px;
	margin: 0 auto;

}

@media(max-width: 600px){
.green{
	height: 3450px;
	.wrap-inner{
		.specifity-content{
			flex-direction:column;
			height: 1400px;
		}
	}
}
.specifity__items{
	h2{

		font-size: 36px;
		text-align: center;
	}
	p{
		font-size: 30px;
		text-align: center;
	}
	
}
.link{
	&:before{
		top: 38px;
		left: 740px;
	}
	&:after{
		top: 33px;
		left: 770px;

	}
}
.link2{
	&:before{
		top: 38px;
		left: 760px;
	}
	&:after{
		top: 34px;
		left: 790px;
	}
}
.link4{
	&:before{
		top: 34px;
		left: 720px;
	}
	&:after{
		top: 30px;
		left: 750px;
	}
}

.about{
	height: 2010px;
	.about__items{
		.text{
			h4{
				font-size: 28px;
			}
			h2{
				font-size: 36px;
			}
		
			p{
				font-size: 30px;
			}
			a{
				font-size: 26px;
					
			}

		}
	}
}
}

.red{
	background-color: #fd634e;
	.image__items{
		display: flex;
		.first-content{
			img{
				width: 350px;
				height: 290px;
			}
		}
		.last-content{
			position: relative;
			img{
				width: 750px;
				height: 290px;
			}
			h4{
				position: absolute;
				@extend %stylfont;
				font-size: 13px;
				text-transform: uppercase;
				top: 50px;
				left: 50px;
				}
			.fitness{
				position: absolute;
				top: 50px;
				right: 50px;
				display: flex;
				h5{
					@extend %stylfont;
					font-size: 13px;
					text-transform: uppercase;
				}
				img{
					width: 20px;
					height: 20px;
				}

			}
		}
	}
}
.inform__items{
	display: flex;
	margin-top: -4px;
	.first-content{
		width:51.1%;
		height: 250px;
		background-color: #fff;
		padding: 40px;
		position: relative;
		h4{
			@extend %stylfont;
			font-size: 14px;
			color:#fd634e;
			text-transform: uppercase;
		}
		h2{
			@extend %stylfont;
			font-size: 30px;
			color:#a2ca28;
			text-transform: uppercase;
			font-weight: 100;
		}
		p{
			color: #656e74;
			@extend %stylfont;
			font-size: 14px;
			letter-spacing: 0.5px;
			padding-top: 10px;
		}
		img{
			width: 30px;
			height: 50px;
			position:absolute;
			top: 40px;
			right: 30px;
		}
	}
	.last-content{
		background-color: #a2ca28;
		padding: 50px;
		h2{
			@extend %stylfont;
			font-size: 35px;
			font-weight: 100;	
		}
		p{
			@extend %stylfont;
			font-size: 14px;
			letter-spacing: 0.5px;
			padding-top: 30px;
		}
	}
}
.food{
	display: flex;
	.first-content{
		width: 67%;
		img{
			width: 750px;
			height: 290px;
		}
	}
	.last-content{
		width: 33%;
		img{
			width: 363px;
			height: 290px;
		}
	}
}
.habits{
	overflow: hidden;
	display: flex;
	margin-top: -4px;
	.first-content{
		width:270%;
		height: 250px;
		background-color: #fff;
		padding: 40px;
		position: relative;
		h4{
			@extend %stylfont;
			font-size: 14px;
			color:#fd634e;
			text-transform: uppercase;
		}
		h2{
			@extend %stylfont;
			font-size: 30px;
			color:#a2ca28;
			text-transform: uppercase;
			font-weight: 100;
		}
		p{
			color: #656e74;
			@extend %stylfont;
			font-size: 14px;
			letter-spacing: 0.5px;
			padding-top: 28px;
		}
		img{
			width: 40px;
			height: 50px;
			position:absolute;
			top: 60px;
			right: 30px;
		}
	}
	.last-content{
		background-color: #a2ca28;
		padding: 50px;
		height: 250px;
		position: relative;
		h4{
			@extend %stylfont;
			font-size: 14px;
			text-transform: uppercase;
		}
		h2{
			@extend %stylfont;
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 100;
		}
		p{
			
			@extend %stylfont;
			font-size: 14px;
			letter-spacing: 0.5px;
			padding-top: 10px;
		}
		img{
			width: 40px;
			height: 45px;
			position:absolute;
			top: 60px;
			right: 20px;
		}
	}
}

@media(max-width: 830px){
.wrap-inner{
width: 1280px;
}
.red{
	height: 1995px;
	.image__items{
		flex-direction:column;
		.first-content{
		display: none;
		}
		.last-content{
			img{
				width:100%;
				height: 490px;
			}
			h4{
				font-size: 26px;
				}
			.fitness{
				h5{
					font-size: 26px;
				}
				img{
					width: 50px;
					height: 40px;
				}

			}
		}
	}
}
.inform__items{
	flex-direction:column;
	.first-content{
		width:100%;
		h4{
			font-size: 24px;
			text-align: center;
		}
		h2{
			font-size: 32px;
			text-align: center;
		}
		p{
			font-size: 26px;
			text-align: center;
		}
		img{
			width: 50px;
			height: 80px;
		}
	}
	.last-content{
		h2{
			font-size: 32px;
			text-align: center;
			text-transform: uppercase;
		}
		p{
			font-size: 26px;
			text-align: center;
		}
	}
}
.food{
	flex-direction:column;
	.first-content{
		width: 100%;
		img{
			width: 100%;
			height: 430px;
		}
	}
	.last-content{
		display: none;
	}
}
.habits{
	flex-direction:column;
	.first-content{
		width:100%;
		height: 330px;
		h4{
			font-size: 24px;
			text-align: center;
		}
		h2{
			font-size: 32px;
			text-align: center;
		}
		p{
			font-size: 26px;
			text-align: center;
		}
		img{
			width: 60px;
			height: 80px;
		}
	}
	.last-content{
		height: 250px;
		h4{
			font-size: 24px;
			text-align: center;

		}
		h2{
			font-size: 32px;
			text-align: center;
		}
		p{
			font-size: 26px;
			text-align: center;
		}
		img{
			width: 70px;
			height: 80px;
		}
	}
}

}

@media(max-width: 600px){
.red{
	height: 2212px;
	.image__items{
		.last-content{
			h4{
				font-size: 28px;
				}
			.fitness{
				h5{
					font-size: 28px;
				}
			}
		}
	}
}
.inform__items{
	.first-content{
		height: 310px;
		h4{
			font-size: 28px;
		}
		h2{
			font-size: 36px;
		}
		p{
			font-size: 30px;
		}
	}
	.last-content{
		h2{
			font-size: 36px;
		}
		p{
			font-size: 30px;
		}
	}
}
.habits{
	.first-content{
		height: 370px;
		h4{
			font-size: 28px;
		}
		h2{
			font-size: 36px;
		}
		p{
			font-size: 30px;
		}
	}
	.last-content{
		height: 310px;
		h4{
			font-size: 28px;

		}
		h2{
			font-size: 36px;
		}
		p{
			font-size: 30px;
		}
	}
}
}

.launch{
	width: 100%;
	height: 630px;
	background:url('../images/pic/activity.jpg') no-repeat;
	background-size:cover;
	overflow: hidden;
	h2{
		@extend %stylfont;
		font-size:35px;
		padding-top: 210px;
		text-align: center;

	}
	p{
		@extend %stylfont;
		font-size:14px;
		padding-top:20px;
		text-align: center;
	}
}
@media(max-width: 830px){
.launch{
	p{
		font-size:26px;
	}
}	
}
@media(max-width: 600px){
	.launch{
	p{
		font-size:30px;
	}
}
}

.footter{
	padding-top: 60px;
	width: 100%;
	overflow: hidden;
	height: 450px;
	background-color: #0d1119;
	margin-top: -5px;
	.wrap-inner{
		display: flex;
	}
}

.footter-block1{
	width: 32%;
	h4{
		@extend %stylfont;
		font-size:20px;
		
	}
	p{
		@extend %stylfont;
		font-size:14px;
		padding-top: 30px;
	}
}
.footter-block2{
	width: 61%;
	padding-left: 60px;
	h4{
		@extend %stylfont;
		font-size:20px;
		
	}
	p{
		@extend %stylfont;
		font-size:14px;
		padding-top: 30px;
	}
}
.content__items{
	display: flex;
	position: relative;
	.footter-about{
		width: 300px;
	}
	.social-media{
		position: absolute;
		top:0;
		right: -20px;
		h4{
			@extend %stylfont;
			font-size:20px;
		
		}
		img{
			margin-top: 30px;
			margin-left: 10px;
		}
	}
}
.footter__input{
	display: flex;
	padding-top: 60px;
	a{
		text-decoration: none;
	}
	.name{
		width: 180px;
		height: 40px;
		padding-left: 15px;
		border-radius: 3px;
	}
	.letter{
		width: 290px;
		height: 40px;
		padding-left: 15px;
		border-radius: 3px;
		margin-left: 7px;
	}
	.footter-btn{

		width: 140px;
		height: 40px;
		background-color: #a2ca28;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend %stylfont;
		font-size:12px;
		text-align: center;
		border-radius: 3px;
		margin-left: 5px;
	}
}

@media(max-width: 830px){
.footter{
	padding-top: 60px;
	width: 100%;
	overflow: hidden;
	height: 950px;
	background-color: #0d1119;
	margin-top: -5px;
	.wrap-inner{
		flex-direction:column;
	}
}

.footter-block1{
	width:100%;
	h4{
		font-size:30px;
		text-align: center;
		margin-left: 70px;
		
	}
	p{
		font-size:26px;
		text-align: center;
	}
}
.footter-block2{
	padding-top: 20px;
	width: 100%;
	h4{
		font-size:30px;
		text-align: center;
		
	}
	p{
		font-size:26px;
		text-align: center;
	}
}
.content__items{
	padding-top: 30px;
	flex-direction:column;
	.footter-about{
		width:100%;
	}
	.social-media{
		position: absolute;
		top:200px;
		right:27%;
		h4{
			font-size:30px;
			margin-top: 30px;
			margin-left:100px;
		
		}
		img{
			margin-top: 30px;
			margin-left: 70px;
			width: 90px;
			height: 90px;
		}
	}
}
.footter__input{
	padding: 280px 0 0 150px;

	.name{
		width: 280px;
		height: 60px;
			font-size:24px;
	}
	.letter{
		width: 380px;
		height: 60px;
		font-size:24px;
	}
	.footter-btn{
		width: 220px;
		height: 60px;
		font-size:24px;
	}
}
}

@media(max-width: 600px){
.footter-block1{
	h4{
		font-size:36px;
		margin-left: 70px;
		
	}
	p{
		font-size:30px;
	}
}
.footter-block2{
	h4{
		font-size:36px;	
	}
	p{
		font-size:30px;
	}
}
.content__items{
	.social-media{
		padding-top: 30px;
		h4{
			font-size:36px;
			margin-left:100px;
		}
	}
}
.footter__input{
	padding: 280px 0 0 150px;

	.name{
	font-size:24px;
	}
	.letter{
		font-size:24px;
	}
	.footter-btn{
		font-size:24px;
	}
}
}